@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

:root {
    --firstColor: rgb(242, 95, 58);
    --secondColor: rgb(35, 44, 81);
    --thirdColor: rgb(143, 148, 167);
    --fourthColor:#1E1E26;
    --fifthColor: #FFFFFF;
    --sixthColor: rgb(255, 239, 234);

}

* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration:none;
}

/* Header Start */

.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem 10rem;
    width: 100%;
}

.header__ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
}

.header__ul a{
    color: var(--secondColor);
    font-weight: 500;
}

.header__ul a:hover {
    opacity: 0.5;
}

.button {
    background-color: var(--firstColor);
    border: var(--firstColor);
    border-radius: 3rem;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    color: var(--fifthColor);
    padding: 0.8rem 1.8rem;
}

.button:hover {
    opacity: 0.5;
}

.burger {
    display: none;
}

.header__logo, .header__nav, .header div {
    padding: 2rem;
}

/* Header End */
/* Main Start */

.main{
    width: 100%;
}

/* Main Section Combined Selector */

.firstSection, .secondSection {
    display: flex;
}

.firstSection__info, .secondSection__info {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 45%;
}

.firstSection__info p, .secondSection__info p {
    align-items: center;
    color: var(--thirdColor);
    font-weight: 500;
    font-size: 1rem;
}

/* firstSection Start*/

.firstSection {
    gap: 6.8rem;
    padding: 2.5rem 9rem 0rem 10rem;
}

.firstSection__info {
    padding: 4.4rem 0rem 8.6rem 0rem;
}

.firstSection__info h1 {

    color: var(--secondColor);
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4rem;
}

.firstSection__info p {
    gap: 1.6rem;
    line-height: 1.6rem;
    padding-right: 5.5rem;
}

.firstSection .button {
    width: 9.5rem;
}

.firstSection__graphs{
    width:45%;
}

.firstSection__graphs img {
    object-fit:cover;
    max-width: 100%;
}


/* firstSection End */
/* secondSection Start */

.secondSection{
    gap: 7.8rem;
    padding: 2.5rem 9rem 0rem 9rem;
}

.secondSection__info h2 {

    color: var(--secondColor);
    line-height: 2.5rem;
    font-size: 2.2rem;
    font-weight: 700;
}

.secondSection__info p{
    gap: 2.2rem;
    line-height: 1.5rem;
    padding-right: 6rem;
}

.secondSection__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.6rem;
    width: 45%;
}

.secondSection__item {
    display: flex;
    flex-wrap: wrap;
}

.secondSection__itemOrder {
    background-color: var(--firstColor);
    border-radius: 1.8rem;
    color: var(--fifthColor);
    font-size: 1rem;
    font-weight: 700;
    height: fit-content;
    padding: 0.7rem 1.5rem;
}

.secondSection__itemInfo {
    padding-left: 5.8rem;
}

.secondSection__itemTitle{
    color: var(--secondColor);
    line-height: 1.5rem;
    padding: 0.4rem 1.5rem 1.1rem 1.5rem;
}

.secondSection__itemInfo {
    color: var(--thirdColor);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

/* secondSection End */
/* thirdSection Start */

.thirdSection {
    padding: 7.7rem 4.4rem 11rem 4.4rem;
    width: 100%;
}

.thirdSection h2 {
    color: #242E53;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.8rem;
    text-align: center;
    width: 95%;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:center;
    padding: 4.6rem 0rem 3.8rem 0rem;
}

.card {
    padding-top: 4.6rem;
    width: 30%;
}

.card__header {
    position: relative;
    width: 100%;    
}

.card__photo {
    position: absolute;
    bottom: -2rem;
    left: 40%;
    height: 4.1rem;
    width: 4.1rem;  
}

.card__body {
    align-items: center;
    background-color: #FAFAFA;
    color: var(--thirdColor);
    display: flex;
    flex-flow: column wrap;
    gap: 1.3rem;
    width: 90%;
}

.card__body h5 {
    color: var(--secondColor);
    font-size: 1rem;
    font-weight: 700;
    padding-top: 3.5rem;
}

.thirdSection a {
    position: relative;
    left: 45%;
}

/* End thirdSection */
/* fourthSection Start*/

.fourthSection{
    align-items: center;
    background-color: var(--firstColor);
    color: var(--fifthColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem 10.3rem 4rem 10.3rem;
}

.fourthSection h2 {
    font-size: 2.5rem;
    font-weight: 700;
    width: 45%;
}

.buttonInverted {
    background-color: var(--fifthColor);
    border: var(--fifthColor);
    border-radius: 3rem;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    color: var(--firstColor);
    padding: 0.8rem 1.8rem;
}

.buttonInverted:hover {
    opacity: 0.5;
}

/* fourthSection End */
/* footer Start */

.footer {
    background-color: var(--fourthColor);
    color: var(--fifthColor);
    padding: 3.3rem 10.3rem 3.3rem 10.7rem;
}/* revisar */

.footer__principal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer__logoTitle{
    padding-top: 0.7rem;
}

.footer__icons{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

.footer__icons a, .footer__linksList1 a, .footer__linksList2 a{
    color: var(--fifthColor);
}

.footer__linkSection{
    display: flex;
    gap: 13.7rem;
}

.footer__linksList1 li, .footer__linksList2 li {
    padding-bottom: 0.75rem;
}

.footer__linksList1 li:active, .footer__linksList2 li:active, .footer__icons i:active{
    color: var(--firstColor);
}

.footer__updateSection input {
    border-radius: 3.1rem;
    padding: 0.62rem
}

.footer__updateSection input::placeholder {
    color: var(--firstColor);
}

.footer p{
    color: var(--thirdColor);
    font-size: 0.8rem;
    font-weight: 500;
    text-align: right;
}

.footer__updateSection .button:hover{
    cursor: pointer;
}

/* footer End */

@media screen and (max-width: 375px) {

    /* Mobile Header Start */

    html{
        font-size: 75%;
    }

    .header {
        padding: 2rem 1rem;
    }

    .header__ul, .header div .button {
        display: none;
    }
    
    .burger {
        display: initial;
    }
    

    /* Mobile Header End */
    /* Mobile Main Start */
    /*   Mobile Main Start */

    .firstSection, .secondSection {
    flex-flow: column wrap;
    gap: 0rem;
    text-align: center;
    width: 100%;
    }

    /* Mobile firsSection Start */

    .firstSection {
        padding: 0rem 2rem;
    }

    .firstSection__info, .firstSection__graphs {
        padding: 1rem 0rem 1rem 0rem;
        width: 100%;
    }

    .firstSection p {
        padding: 0;
        width: 100%;
    }

    .firstSection .button {
        margin: auto;
    }

    .firstSection__info {
        order: 1;
    }
    
    .firstSection__graphs{
        order: 0;
    }

    /* Mobile firstSection End */
    /* Mobile seconSection Start */

    .secondSection {
        padding: 3rem 0rem 0rem 0rem;
    }

    .secondSection__info {
        flex-direction: column;
        padding: 0rem 2rem;
        width: 100%;
    }

    .secondSection__info p {
        padding: 0rem 0rem 2.5rem 0rem;
    }

    .secondSection__list{
        padding-left: 1rem;
        width: 100%;
    }

    .secondSection__itemTitle{
        background-color: var(--sixthColor);
        margin-left: -1rem;
        padding: 0.4rem 0rem 0rem 1.5rem;
        text-align: left;
        width: 88%;
        z-index: -1;
    }

    .secondSection__itemInfo{
        padding: 1rem 2rem 3.5rem 0rem;
        text-align: left;
    }
    
    /* Mobile secondSection End */
    /* Mobile thirdSection End */

    .thirdSection {
        padding: 0rem 1rem 1rem;
    }

    .card:nth-child(1) {
        display: none;
    }

    .card:nth-child(3) {
        display: none;
    }

    .card {
        padding-top: 2rem;
        text-align: center;
        width: 100%;
    }

    .card__body {
        padding: 0rem 2rem 2rem;
        width: 100%;
    }

    .card__photo {
        left: 43%;
    }

    .thirdSection a {
        left: 35%;
    }
    
    /*  Mobile thirdSection End */
    /* Mobile fourthSection Start */

    .fourthSection {
        display: flex;
        flex-flow: column wrap;
        margin-top: 3rem;
        padding: 3rem 2rem;
    }

    .fourthSection h2 {
        padding-bottom: 2rem;
        text-align: center;
        width: 85%;
    }

    /* Mobile fourthSection End */
    /* Mobile footer Start */

    .footer {
        padding: 1rem;
    }

    .footer__principal {
        align-content: center;
        flex-direction: column;

    }

    .footer__updateSection {
        margin: auto;
        order:-2;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .footer__linkSection {
        gap: 6rem;
        margin: auto;
        order:-1;
    }

    .footer__logoSection {
        display: flex;
        flex-flow: column nowrap;
    }

    .footer__icons {
        font-size: 1.5rem;
        order: -1;
        padding-top: 1rem;
    }

    .footer__logoTitle{
        margin: auto;
        order: 1;
        padding: 2rem;
    }

    .footer p {
        text-align: center;
    }

}